
:root{
  --primary-color:#9fd3c7; 
  --secondary-color:#41506b;
  --third-color:#c3c2c2;
}

body{
background-color:white;
text-align: center;
font-family: Poppins;}

.menu{
background-color: var(--primary-color);
color: white;

}

.menu a{
  color: var(--secondary-color);
  font-weight: bold;
  padding-right: 60px;
  padding-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
}

.menu2{

 display: grid;
 grid-gap: 55px;
 font-weight: 500;
 font-size: 32px;
 letter-spacing: 2px;
}

.menu a:hover{
color: white;
transition:ease-in-out;
transition-duration: 150ms;
cursor: pointer;
font-weight: bold;

}

a.activo{
  color: white;
}
.logo{
  width: 100px;
}
a{
  margin: 0;
  padding: 0;
  color: white;
}

.welcome{
  margin: 90px 90px 70px 90px;

}
.welcome h2{
font-style: italic;
font-size: 50px;
color:var(--third-color);
text-align: left;
padding-left: 50px;
padding-bottom: 30px;

  }
  
.welcome h1{font-size: 110px;
color:var(--primary-color);
line-height: 1.1;
padding-left: 230px;}

.welcome h1:hover{
color: var(--secondary-color);
transition:ease-in;
transition-duration: 150ms;
cursor: pointer;}
 
.welcome h4{
color:var(--third-color);
font-size: 25px;
padding-left: 235px;}

.welcome a{
  text-decoration: none;
}
.welcome h4 a{
  color: var(--third-color);
}
.welcome h4 a:hover{
  color: var(--secondary-color);
  transition:ease-in;
  transition-duration: 150ms;
  cursor: pointer;}

#laraImg{
width: 440px;
border: 20px double var(--primary-color);
border-radius: 210px;
filter:grayscale(7%)}


.social a{
font-size: 28px;
color: var(--secondary-color);
padding: 10px;
}

.social a:hover{
color: var(--primary-color);
transition:ease-in;
transition-duration: 150ms;
cursor: pointer;}
  

footer p{
font-size: 12px;
text-align: center;
padding-top: 10px;
}

.aboutme{
  display: grid;
  grid-template-columns: 2fr 1fr;
column-gap: 30px;
padding: 55px 120px 50px 120px;
}

.description{
  margin-right: 80px;
  text-align: justify;
  color: var(--secondary-color);
}

.hl{
  color: var(--primary-color);
}

 .aboutme h1{
  font-size: 34px;
  color: var(--secondary-color);
   }
.aboutme h2{
  background-color: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 23px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
     }
.btn-projects{
  background-color: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 20px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;

}
.languages{
color: var(--secondary-color);
font-weight: 600;
font-size: 18px;
word-spacing: 5px;
padding: 10px 10px 15px 20px;
border-radius: 5px;
}

.cv a{
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 600;
font-size: 18px;
word-spacing: 5px;

}
.contact2{
  color: white;
  text-align: center;
 padding: 10px;
  font-size: 15px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  }

  .contact1{
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
  }
  .contact2 a{
    color: white;
    text-decoration: none;
  }

  .art{
    font-family: Dancing Script;
    font-size: 60px;
  }

 
  
  .card a{
    text-decoration: none;
   
  }

 
  
.card h5{
  color: var(--secondary-color);

  background-color: white;
  text-decoration: none;
  margin: 100px -5px;
  padding: 10px 0;
  
}
.card-title {
  opacity: 0;
}
.card-title:hover{
opacity: 100%;
transition:ease-in-out;
transition-duration: 250ms;
cursor: pointer;

}



  .contact-box{
    background: var(--primary-color);
  padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.btn-contact{
    background-color: white;
    border-radius: 4px;
    color: var(--secondary-color);
    font-size: 20px;
   font-weight: bold;
    padding: 15px 30px;
    text-decoration: none;
  }

  .btn-contact:hover{
    background-color:var(--secondary-color);
    transition-duration: 250ms;
    cursor: pointer;
    color: white;
  }

.intro{
 font-size: 21px;
 line-height: 1.5;
 letter-spacing: 2px;
 color: white;
 
}
.quote{
  color: var(--secondary-color);
 
}
.tools{
  background: whitesmoke;
  padding: 30px;
  border-radius: 10px;
}
.toologos{
  margin: 12px;
}

@media(max-width:800px){
 .welcome h1{
    padding: 0;
    margin: 0;
    font-size: 50px;
  }

  .menu2{
    grid-gap:2px;
   text-align: right;
    font-size: 18px;
    letter-spacing: 0;
   
  }
  .menu a{
    padding-top:5px;
   padding-left: 5px;
  }
}