.box{
  background-color: #9fd3c7;
  padding: 80px 750px;
  position: absolute;

}
footer{
  font-size: 7pt;
  text-align: left;
  position: fixed;
  bottom: 10px;
}

.home{
  color: white;
  font-size: 60px;
  display: flex;
  position: relative;
  justify-content: left;
  left: 0;
  padding: 35px 0 30px 100px;
}

p{
  padding: 55px 90px 30px 90px;
  text-align: justify;
  left: 0;
}


a{

  text-decoration: none;
color: white;
}
.topics
{
text-decoration: none;
color: white;
}


.topics:hover{
transform: scale(1.2);
transition: ease-in-out;
transition-duration: 200ms;
cursor: pointer;
color: #41506b; 

}

body{
    background-color:white;
    font-family: poppins;
}

.welcome{
    display:flex;
    justify-content:space-between;
    }


    .welcome-aboutme{
      display:flex;
      justify-content:space-around;
      }
.menu{
 list-style: none;
    display: flex;
		position: relative;
    justify-content:left;
		color: white;
		font-style: 500px;
	
}
li{
    padding: 30px 55px 30px 55px;
    color: white;
    font-size: 20pt;
    text-align: center;
}

.topics:hover{
transform: scale(1.2);

transition: ease-in-out;
transition-duration: 200ms;
cursor: pointer;
color: #41506b; 

}

h1{
    font-style: italic;
    font-size: 50px;
    color:#c3c2c2;
    text-align: center;
    padding-bottom: 30px;
		padding-top: 30px;
  }
  
h2{

    font-size: 110px;
    color:#9fd3c7;
    margin-top: -30px;
		position: relative;
		left: 420px;
		line-height: 1.1;
	
  }
	h2:hover{
		color: #41506b;
transition:ease-in;
transition-duration: 150ms;
cursor: pointer;
	}
 
	
  h4{
    color:#c3c2c2;
    text-align: center;
    margin-top: -90px;
		font-size: 18px;
		position: relative;
		left: 55px;
  }
  img{
    width: 440px;
   opacity: 100%;
    position: absolute;
		right: 0;
  }


